@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav-bar {
  border-bottom: 1px solid #ddd;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.nav-bar h1 {
  font-size: 1.4rem;
  padding: 20px;
  margin: 0;
  font-weight: 500;
  width: 100%;
}

.nav-bar span {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ddd;
}

.nav-bar span:hover {
  color: red;
}

.nav-bar span i {
  vertical-align: super;
  padding: 20px;
}

.pan-form {
  text-align: center;
  padding: 20px;
}

.pan-form h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.pan-form form {
  margin-top: 30px;
}

.pan-form form .form-group {
  text-align: left;
}

.pan-form form .form-group label {
  padding: 5px;
  font-weight: 600;
}

.pan-form form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 20px;
}

.pan-form form button {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 3px solid #48b0f7;
  font-weight: 500;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pan-form form button:hover {
  background-color: #48b0f7;
}

.pan-form form span {
  margin: 10px 0;
  display: block;
}

body {
  background-color: #eef0f1 !important;
  font-family: "Poppins", sans-serif !important;
}

.main {
  margin-top: 50px !important;
  background: #fff;
  border-radius: 10px;
  padding: 0 !important;
}

.message-body {
  height: 450px;
  padding: 0 20px;
  overflow-y: auto;
}

.message-body::-webkit-scrollbar {
  width: 0.5em;
}

.message-body::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.message-body .message {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-body .message img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.message-body .message .message-inner {
  margin-left: 10px;
  width: -webkit-fill-available;
}

.message-body .message .message-inner p {
  background-color: orange;
  padding: 10px;
  margin: 5px  0;
  font-size: .9rem;
  border-radius: 5px;
  font-weight: 400;
  display: table;
  max-width: 70%;
}

.message-body .messageReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-body .messageReverse img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.message-body .messageReverse .message-inner {
  margin-right: 10px;
  width: -webkit-fill-available;
}

.message-body .messageReverse .message-inner p {
  float: right;
  clear: right;
  background-color: #48b0f7;
  color: #222;
  padding: 10px;
  margin: 5px  0;
  font-size: .9rem;
  border-radius: 5px;
  font-weight: 400;
  display: table;
  max-width: 70%;
}

.message-send {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 10px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.message-send img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.message-send input {
  width: 100%;
  margin: 0 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.message-send span {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ddd;
}

.message-send span:hover {
  color: #48b0f7;
}

.message-send span i {
  vertical-align: middle;
}

.pan-form {
  text-align: center;
  padding: 20px;
}

.pan-form h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.pan-form form {
  margin-top: 30px;
}

.pan-form form .form-group {
  text-align: left;
}

.pan-form form .form-group label {
  padding: 5px;
  font-weight: 600;
}

.pan-form form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 20px;
}

.pan-form form button {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 3px solid #48b0f7;
  font-weight: 500;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pan-form form button:hover {
  background-color: #48b0f7;
}

.pan-form form span {
  margin: 10px 0;
  display: block;
}
/*# sourceMappingURL=main.css.map */